<div class="d-flex justify-content-between mx-5">
  <h4 class="text-white">Add new Motorcycle</h4>
  <button class="btn btn-secondary" style="width: 10rem;" (click)="backAction()">Back</button>
</div>

<form (submit)="onSubmit()" class="p-5 mb-5" style="color: white">
  <div class="row">
    <div class="col-4">
      <div class="form-group mb-3">
        <label for="image">Image:</label>
        <input
          type="text"
          class="form-control"
          id="image"
          [(ngModel)]="newMotor.image"
          name="image"
        />
      </div>
      <div class="form-group mb-3">
        <label for="policeNumber">Police Number:</label>
        <input
          type="text"
          class="form-control"
          id="policeNumber"
          [(ngModel)]="newMotor.policeNumber"
          name="policeNumber"
        />
      </div>
      <div class="form-group mb-3">
        <label for="name">Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="newMotor.name"
          name="name"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group mb-3">
        <label for="type">Type:</label>
        <input
          type="text"
          class="form-control"
          id="type"
          [(ngModel)]="newMotor.type"
          name="type"
        />
      </div>
      <div class="form-group mb-3">
        <label for="createdYear">Created Year:</label>
        <input
          type="text"
          class="form-control"
          id="createdYear"
          [(ngModel)]="newMotor.createdYear"
          name="createdYear"
        />
      </div>
      <div class="form-group mb-3">
        <label for="colour">Colour:</label>
        <input
          type="text"
          class="form-control"
          id="colour"
          [(ngModel)]="newMotor.colour"
          name="colour"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group mb-3">
        <label for="cc">CC:</label>
        <input
          type="text"
          class="form-control"
          id="cc"
          [(ngModel)]="newMotor.cc"
          name="cc"
        />
      </div>
      <div class="form-group mb-4">
        <label for="description">Description:</label>
        <textarea
          class="form-control"
          id="description"
          [(ngModel)]="newMotor.description"
          name="description"
        ></textarea>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
