form {
    padding-bottom: 9rem;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 1rem;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 20px;
}

button {
    margin-top: 2rem;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}