<h1>{{ id ? "EDIT FORM" : "ADD FORM" }}</h1>

<form [formGroup]="dpoForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="image">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="name"
          [class.is-invalid]="
            dpoForm.get('name').touched && dpoForm.get('name').invalid
          "
          [class.is-valid]="
            dpoForm.get('name').touched && dpoForm.get('name').valid
          "
        />
        <div
          *ngIf="
            dpoForm.get('name').touched &&
            dpoForm.get('name').hasError('required')
          "
          class="text-danger error-message"
        >
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        <input
          type="text"
          formControlName="image"
          class="form-control"
          id="image"
          [class.is-invalid]="
            dpoForm.get('image').touched && dpoForm.get('image').invalid
          "
          [class.is-valid]="
            dpoForm.get('image').touched && dpoForm.get('image').valid
          "
        />
        <div
          *ngIf="
            dpoForm.get('image').touched &&
            dpoForm.get('image').hasError('required')
          "
          class="text-danger error-message"
        >
          Image is required
        </div>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="number"
          formControlName="age"
          class="form-control"
          id="age"
          [class.is-invalid]="
            dpoForm.get('age').touched && dpoForm.get('age').invalid
          "
          [class.is-valid]="
            dpoForm.get('age').touched && dpoForm.get('age').valid
          "
        />
        <div
          *ngIf="
            dpoForm.get('age').touched &&
            dpoForm.get('age').hasError('required')
          "
          class="text-danger error-message"
        >
          Age is required
        </div>
        <div
          *ngIf="
            dpoForm.get('age').touched &&
            dpoForm.get('age').hasError('pattern') &&
            dpoForm.get('age').hasError('min')
          "
          class="text-danger error-message"
        >
          Age must a valid number
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select
          formControlName="gender"
          class="form-control"
          id="gender"
          [class.is-invalid]="
            dpoForm.get('gender').touched && dpoForm.get('gender').invalid
          "
          [class.is-valid]="
            dpoForm.get('gender').touched && dpoForm.get('gender').valid
          "
        >
          <option value="Man">Man</option>
          <option value="Woman">Woman</option>
        </select>
        <div
          *ngIf="
            dpoForm.get('gender').touched &&
            dpoForm.get('gender').hasError('required')
          "
          class="text-danger error-message"
        >
          Gender is required
        </div>
      </div>

      <div class="form-group">
        <label for="marital">Marital Status</label>
        <select
          formControlName="marital"
          class="form-control"
          id="marital"
          [class.is-invalid]="
            dpoForm.get('marital').touched && dpoForm.get('marital').invalid
          "
          [class.is-valid]="
            dpoForm.get('marital').touched && dpoForm.get('marital').valid
          "
        >
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Divorced">Divorced</option>
          <option value="Widowed">Widowed</option>
        </select>
        <div
          *ngIf="
            dpoForm.get('marital').touched &&
            dpoForm.get('marital').hasError('required')
          "
          class="text-danger error-message"
        >
          Marital status is required
        </div>
      </div>
      <div class="form-group">
        <label for="job">Job</label>
        <input
          type="text"
          formControlName="job"
          class="form-control"
          id="job"
          [class.is-invalid]="
            dpoForm.get('job').touched && dpoForm.get('job').invalid
          "
          [class.is-valid]="
            dpoForm.get('job').touched && dpoForm.get('job').valid
          "
        />
        <div
          *ngIf="
            dpoForm.get('job').touched &&
            dpoForm.get('job').hasError('required')
          "
          class="text-danger error-message"
        >
          Job is required
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          id="description"
          [class.is-invalid]="
            dpoForm.get('description').touched &&
            dpoForm.get('description').invalid
          "
          [class.is-valid]="
            dpoForm.get('description').touched &&
            dpoForm.get('description').valid
          "
        ></textarea>
        <div
          *ngIf="
            dpoForm.get('description').touched &&
            dpoForm.get('description').hasError('required')
          "
          class="text-danger error-message"
        >
          Description is required
        </div>
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="id" class="form-group">
        <label for="status">Status</label>
        <select formControlName="status" class="form-control" id="status">
          <option value="Wanted">Wanted</option>
          <option value="Found">Found</option>
        </select>
        <div
          *ngIf="
            dpoForm.get('status').touched &&
            dpoForm.get('status').hasError('required')
          "
          class="text-danger error-message"
        >
          Status is required
        </div>
      </div>
      <div class="form-group">
        <label for="height">Height (cm)</label>
        <input
          type="number"
          formControlName="height"
          class="form-control"
          id="height"
          [class.is-invalid]="
            dpoForm.get('height').touched && dpoForm.get('height').invalid
          "
          [class.is-valid]="
            dpoForm.get('height').touched && dpoForm.get('height').valid
          "
        />
        <div
          *ngIf="
            dpoForm.get('height').touched &&
            dpoForm.get('height').hasError('required')
          "
          class="text-danger error-message"
        >
          Height is required
        </div>
        <div
          *ngIf="
            dpoForm.get('height').touched &&
            dpoForm.get('height').hasError('pattern')
          "
          class="text-danger error-message"
        >
          Height must a valid number
        </div>
      </div>

      <div class="form-group">
        <label for="weight">Weight (kg)</label>
        <input
          type="number"
          formControlName="weight"
          class="form-control"
          id="weight"
          [class.is-invalid]="
            dpoForm.get('weight').touched && dpoForm.get('weight').invalid
          "
          [class.is-valid]="
            dpoForm.get('weight').touched && dpoForm.get('weight').valid
          "
        />
        <div
          *ngIf="
            dpoForm.get('weight').touched &&
            dpoForm.get('weight').hasError('required')
          "
          class="text-danger error-message"
        >
          Weight is required
        </div>
        <div
          *ngIf="
            dpoForm.get('weight').touched &&
            dpoForm.get('weight').hasError('pattern')
          "
          class="text-danger error-message"
        >
          Weight must a valid number
        </div>
      </div>

        <div
          formGroupName="addresses"
        >
          <div class="form-group">
            <label for="address">Address</label>
            <input
              type="text"
              formControlName="address"
              class="form-control"
              id="address"
              [class.is-invalid]="
                 dpoForm.get('addresses.address').touched &&  dpoForm.get('addresses.address').invalid
              "
              [class.is-valid]="
                 dpoForm.get('addresses.address').touched && dpoForm.get('addresses.address').valid
              "
            />
            <div
              *ngIf="
                 dpoForm.get('addresses.address').touched &&
                 dpoForm.get('addresses.address').hasError('required')
              "
              class="text-danger error-message"
            >
              Address is required
            </div>
          </div>
          <div class="form-group">
            <label for="zipcode">Zip Code</label>
            <input
              type="number"
              formControlName="zipcode"
              class="form-control"
              id="zipcode"
              [class.is-invalid]="
                 dpoForm.get('addresses.zipcode').touched &&  dpoForm.get('addresses.zipcode').invalid
              "
              [class.is-valid]="
                 dpoForm.get('addresses.zipcode').touched &&  dpoForm.get('addresses.zipcode').valid
              "
            />
            <div
              *ngIf="
                 dpoForm.get('addresses.zipcode').touched &&
                 dpoForm.get('addresses.zipcode').hasError('required')
              "
              class="text-danger error-message"
            >
              Zip Code is required
            </div>
            <div
              *ngIf="
                 dpoForm.get('addresses.zipcode').touched &&
                 dpoForm.get('addresses.zipcode').hasError('pattern')
              "
              class="text-danger error-message"
            >
              Zip Code must be a valid number
            </div>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input
              type="text"
              formControlName="city"
              class="form-control"
              id="city"
              [class.is-invalid]="
                 dpoForm.get('addresses.city').touched &&  dpoForm.get('addresses.city').invalid
              "
              [class.is-valid]="
                 dpoForm.get('addresses.city').touched &&  dpoForm.get('addresses.city').valid
              "
            />
            <div
              *ngIf="
                 dpoForm.get('addresses.city').touched &&
                 dpoForm.get('addresses.city').hasError('required')
              "
              class="text-danger error-message"
            >
              City is required
            </div>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input
              type="text"
              formControlName="country"
              class="form-control"
              id="country"
              [class.is-invalid]="
                 dpoForm.get('addresses.country').touched &&  dpoForm.get('addresses.country').invalid
              "
              [class.is-valid]="
                 dpoForm.get('addresses.country').touched &&  dpoForm.get('addresses.country').valid
              "
            />
            <div
              *ngIf="
                 dpoForm.get('addresses.country').touched &&
                 dpoForm.get('addresses.country').hasError('required')
              "
              class="text-danger error-message"
            >
              Country is required
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary w-25">Submit</button>
  </div>
</form>
