<section
  class="py-5"
  style="
    min-height: 90vh;
    padding-bottom: 1rem;
    background-color: #33658a;
    color: white;
  "
>
  <div
    class="container px-4 px-lg-5"
    style="
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
    "
  >
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4">
        <p class="fs-8 mb-1">Employee ID : {{ employee.id }}</p>
        <h1 class="display-5 fw-bolder">{{ employee.name }}</h1>
        <div class="fs-5 mb-4">
          <span
            class="badge ms-2"
            [ngClass]="{
              'bg-danger': employee.role === 'Frontend Engineer',
              'bg-success': employee.role === 'Backend Engineer'
            }"
            >{{ employee.role }}</span
          >
        </div>
        <img
          class="card-img-top mb-5 mb-md-0"
          [src]="employee.image"
          [alt]="employee.name"
        />
        <p class="lead my-5">
          {{ employee.title }}
        </p>
        <button
          class="btn btn-warning me-3 mb-5"
          [routerLink]="['/employee/inputform']"
          [queryParams]="{ id: employee.id }"
        >
          Edit
        </button>
        <button class="btn btn-danger mb-5" (click)="onDeleteEmployee(employee.id)">
          Delete
        </button>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="ps-5 col-5">
            <h3 class="mb-3 mt-s-5 fw-bolder">Basic Info</h3>
            <div class="fs-7 mt-5">
              <p>Age : {{ employee.age }}</p>
            </div>
            <div class="fs-7">
              <p>Gender : {{ employee.gender }}</p>
            </div>
            <div class="fs-7">
              <p>Marital Status : {{ employee.email }}</p>
            </div>
            <div class="fs-7">
              <p>Job : {{ employee.role }}</p>
            </div>
            <div class="fs-7">
              <p>Height : {{ employee.department }}</p>
            </div>
            <div class="fs-7">
              <p>Weight : {{ employee.title }}</p>
            </div>
            <h3 class="mb-3 mt-5 fw-bolder">Relatives Contacts</h3>
            <div *ngFor="let contact of employee.contacts; let i = index">
              <h5 class="mt-5">The {{ i + 1 }} Contacts</h5>
              <hr />
              <div class="fs-7">
                <p>Handphone Number : {{ contact.type }}</p>
              </div>
              <div class="fs-7">
                <p>As : {{ contact.value }}</p>
              </div>
            </div>
          </div>
          <div class="last-seen col-7">
            <h3 class="mb-3 fw-bolder">Last Seen</h3>
            <div *ngFor="let certificate of employee.certificates; let i = index">
              <h5 class="mt-5">The {{ i + 1 }} certificate</h5>
              <hr />
              <div class="fs-7">
                <p>certificate : {{ certificate.name }}</p>
              </div>
              <div class="fs-7">
                <p>Zipcode : {{ certificate.description }}</p>
              </div>
              <div class="fs-7">
                <p>City : {{ certificate.dateUpload }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
