<div style="display: flex; justify-content: space-between">
  <h2 mat-dialog-title>Add New Character!</h2>

  <div style="display: flex">
    <h3 style="margin-right: 1vw">FR</h3>

    <mat-slide-toggle [(ngModel)]="isFrench" (change)="toggleLanguage()">
    </mat-slide-toggle>

    <h3 style="margin-left: 1vw">EN</h3>
  </div>
</div>

<mat-dialog-content class="mat-typography" style="background-color: brown">
  <form [formGroup]="characterForm" style="background-color: brown">
    <div
      class="form-container mat-elevation-z8"
      style="background-color: white"
    >
      <div formGroupName="name" class="name-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ "CHARACTER_FORM.REAL_NAME" | translate }}</mat-label>
          <input
            matInput
            formControlName="real"
            placeholder="{{ 'CHARACTER_FORM.REAL_NAME' | translate }}"
          />
          <mat-hint>{{ "CHARACTER_FORM.REAL_NAME_HINT" | translate }}</mat-hint>
          <mat-error
            *ngIf="characterForm.get('name.real').hasError('required')"
          >
            {{ "CHARACTER_FORM.REAL_NAME" | translate }} is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "CHARACTER_FORM.HERO_NAME" | translate }}</mat-label>
          <input
            matInput
            formControlName="hero"
            placeholder="{{ 'CHARACTER_FORM.HERO_NAME' | translate }}"
          />
          <mat-hint>{{ "CHARACTER_FORM.HERO_NAME_HINT" | translate }}</mat-hint>
          <mat-error
            *ngIf="characterForm.get('name.hero').hasError('required')"
          >
            {{ "CHARACTER_FORM.HERO_NAME" | translate }} is required
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.ROLE" | translate }}</mat-label>
        <mat-select
          formControlName="role"
          placeholder="{{ 'CHARACTER_FORM.ROLE' | translate }}"
        >
          <mat-option *ngFor="let role of roles" [value]="role">{{
            role | translate
          }}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            characterForm.get('role').invalid &&
            characterForm.get('role').touched
          "
        >
          {{ "CHARACTER_FORM.ROLE" | translate }} is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.CLASS" | translate }}</mat-label>
        <input
          matInput
          formControlName="class"
          placeholder="{{ 'CHARACTER_FORM.CLASS' | translate }}"
        />
        <mat-error
          *ngIf="
            characterForm.get('class').invalid &&
            characterForm.get('class').touched
          "
        >
          {{ "CHARACTER_FORM.CLASS" | translate }} is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.AFFILIATION" | translate }}</mat-label>
        <input
          matInput
          formControlName="affiliation"
          placeholder="{{ 'CHARACTER_FORM.AFFILIATION' | translate }}"
        />
        <mat-hint>{{ "CHARACTER_FORM.AFFILIATION_HINT" | translate }}</mat-hint>
        <mat-error
          *ngIf="
            characterForm.get('affiliation').invalid &&
            characterForm.get('affiliation').touched
          "
        >
          {{ "CHARACTER_FORM.AFFILIATION" | translate }} is required
        </mat-error>
      </mat-form-field>

      <div formGroupName="image" class="image-group">
        <mat-form-field appearance="fill">
          <mat-label>Image Cover</mat-label>
          <input
            matInput
            formControlName="cover"
            placeholder="Enter image cover"
          />
          <mat-hint>Hint : image.jpg/.png/.jpeg/.png</mat-hint>
          <mat-error
            *ngIf="
              characterForm.get('image.cover').invalid &&
              characterForm.get('image.cover').touched
            "
          >
            Image cover is required and must be a valid image URL
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Image Portrait</mat-label>
          <input
            matInput
            formControlName="portrait"
            placeholder="Enter image portrait"
          />
          <mat-hint>Hint : image.jpg/.png/.jpeg/.png</mat-hint>
          <mat-error
            *ngIf="
              characterForm.get('image.portrait').invalid &&
              characterForm.get('image.portrait').touched
            "
          >
            Image portrait is required and must be a valid image URL
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Image Banner</mat-label>
          <input
            matInput
            formControlName="banner"
            placeholder="Enter image banner"
          />
          <mat-hint>Hint : image.jpg/.png/.jpeg/.png</mat-hint>
          <mat-error
            *ngIf="
              characterForm.get('image.banner').invalid &&
              characterForm.get('image.banner').touched
            "
          >
            Image banner is required and must be a valid image URL
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.EMAIL" | translate }}</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="{{ 'CHARACTER_FORM.EMAIL' | translate }}"
        />
        <mat-hint>{{ "CHARACTER_FORM.EMAIL_HINT" | translate }}</mat-hint>
        <mat-error
          *ngIf="
            characterForm.get('email').invalid &&
            characterForm.get('email').touched
          "
        >
          {{ "CHARACTER_FORM.EMAIL_INVALID" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="gender">
        <mat-label>{{ "CHARACTER_FORM.GENDER" | translate }} : </mat-label>
        <mat-radio-button *ngFor="let gender of genders" [value]="gender">
          {{ gender | translate }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error
        style="margin-bottom: 2vw"
        *ngIf="
          characterForm.get('gender').invalid &&
          characterForm.get('gender').touched
        "
      >
        {{ "CHARACTER_FORM.GENDER_REQUIRED" | translate }}
      </mat-error>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.DESCRIPTION" | translate }}</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="{{ 'CHARACTER_FORM.DESCRIPTION' | translate }}"
        ></textarea>
        <mat-error
          *ngIf="
            characterForm.get('description').invalid &&
            characterForm.get('description').touched
          "
        >
          {{ "CHARACTER_FORM.DESCRIPTION_REQUIRED" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.AGE" | translate }}</mat-label>
        <input
          matInput
          formControlName="age"
          placeholder="{{ 'CHARACTER_FORM.AGE' | translate }}"
        />
        <mat-error
          *ngIf="
            characterForm.get('age').invalid && characterForm.get('age').touched
          "
        >
          {{ "CHARACTER_FORM.AGE_REQUIRED" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.HEIGHT" | translate }}</mat-label>
        <input
          matInput
          formControlName="height"
          placeholder="{{ 'CHARACTER_FORM.HEIGHT' | translate }}"
        />
        <mat-hint>{{ "CHARACTER_FORM.HEIGHT_HINT" | translate }}</mat-hint>
        <mat-error
          *ngIf="
            characterForm.get('height').invalid &&
            characterForm.get('height').touched
          "
        >
          {{ "CHARACTER_FORM.HEIGHT_REQUIRED" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.WEIGHT" | translate }}</mat-label>
        <input
          matInput
          formControlName="weight"
          placeholder="{{ 'CHARACTER_FORM.WEIGHT' | translate }}"
        />
        <mat-hint>{{ "CHARACTER_FORM.WEIGHT_HINT" | translate }}</mat-hint>
        <mat-error
          *ngIf="
            characterForm.get('weight').invalid &&
            characterForm.get('weight').touched
          "
        >
          {{ "CHARACTER_FORM.WEIGHT_REQUIRED" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.BORN_DATE" | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="bornDate"
          placeholder="{{ 'CHARACTER_FORM.BORN_DATE' | translate }}"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="
            characterForm.get('bornDate').invalid &&
            characterForm.get('bornDate').touched
          "
        >
          {{ "CHARACTER_FORM.BORN_DATE_REQUIRED" | translate }}
        </mat-error>
      </mat-form-field>

      <div formArrayName="address">
        <div
          *ngFor="
            let character of characterForm.get('address')['controls'];
            let i = index
          "
          [formGroupName]="i"
        >
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="Enter city" />
            <mat-error
              *ngIf="
                character.get('city').invalid && character.get('city').touched
              "
              >City is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input
              matInput
              formControlName="street"
              placeholder="Enter street"
            />
            <mat-error
              *ngIf="
                character.get('street').invalid &&
                character.get('street').touched
              "
              >Street is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Zipcode</mat-label>
            <input
              matInput
              formControlName="zipcode"
              placeholder="Enter zipcode"
            />
            <mat-error
              *ngIf="
                character.get('zipcode').invalid &&
                character.get('zipcode').touched
              "
              >Zipcode is required and must be a valid number</mat-error
            >
          </mat-form-field>

          <button
            mat-raised-button
            style="margin-bottom: 4vw"
            type="button"
            (click)="removeField(i, 'address')"
            [disabled]="isFirstField(i, 'address')"
          >
            Remove Address
          </button>
        </div>
      </div>

      <button
        mat-raised-button
        type="button"
        (click)="addField('address')"
        style="margin-bottom: 4vw"
      >
        Add Address
      </button>

      <div formArrayName="ability">
        <div
          *ngFor="
            let character of characterForm.get('ability')['controls'];
            let i = index
          "
          [formGroupName]="i"
        >
          <mat-form-field appearance="fill">
            <mat-label>Ability Image</mat-label>
            <input matInput formControlName="image" placeholder="Enter image" />
            <mat-hint>Format : image.jpg/.png/.jpeg/.bmp</mat-hint>
            <mat-error
              *ngIf="
                character.get('image').invalid && character.get('image').touched
              "
              >image is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ability Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter name" />
            <mat-hint>Hint : Full Cowl</mat-hint>
            <mat-error
              *ngIf="
                character.get('name').invalid && character.get('name').touched
              "
              >Ability name is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ability Description</mat-label>
            <input
              matInput
              formControlName="description"
              placeholder="Enter description"
            />
            <mat-error
              *ngIf="
                character.get('description').invalid &&
                character.get('description').touched
              "
              >Ability description is required</mat-error
            >
          </mat-form-field>

          <button
            mat-raised-button
            style="margin-bottom: 4vw"
            type="button"
            (click)="removeField(i, 'ability')"
            [disabled]="isFirstField(i, 'ability')"
          >
            Remove ability
          </button>
        </div>
      </div>

      <button
        mat-raised-button
        type="button"
        (click)="addField('ability')"
        style="margin-bottom: 4vw"
      >
        Add Ability
      </button>

      <mat-form-field appearance="fill">
        <mat-label>{{ "CHARACTER_FORM.POPULARITY" | translate }}</mat-label>
        <input
          matInput
          formControlName="popularity"
          placeholder="{{ 'CHARACTER_FORM.POPULARITY' | translate }}"
        />
        <mat-hint>{{ "CHARACTER_FORM.POPULARITY_HINT" | translate }}</mat-hint>
        <mat-error
          *ngIf="
            characterForm.get('popularity').invalid &&
            characterForm.get('popularity').touched
          "
        >
          {{ "CHARACTER_FORM.POPULARITY_REQUIRED" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    style="background-color: brown; color: white"
    (click)="onSubmit()"
  >
    Submit
  </button>
</mat-dialog-actions>
