<div class="food-form-top">
  <h1 class="food-form-title">FOOD FORM</h1>

  <div class="language-toggle">
    <h3 class="language-toggle-item">EN</h3>
    <mat-slide-toggle
      [(ngModel)]="isFrench"
      (change)="toggleLanguage()"
      class="language-toggle-item"
    ></mat-slide-toggle>
    <h3 class="language-toggle-item">FR</h3>
  </div>
</div>

<form [formGroup]="foodForm" (ngSubmit)="onSubmit()" class="food-form">
  <div class="form-container">
    <h1>Basic Information</h1>
    <mat-form-field appearance="fill">
      <mat-label>{{ "FOOD_FORM.NAME" | translate }}</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="{{ 'FOOD_FORM.NAME_PLACEHOLDER' | translate }}"
      />
      <mat-error
        *ngIf="foodForm.get('name').invalid && foodForm.get('name').touched"
      >
        {{ "FOOD_FORM.NAME" | translate }} is required
      </mat-error>
    </mat-form-field>

    <div formGroupName="image" class="image-group">
      <mat-form-field appearance="fill" class="image-cover-food-input">
        <mat-label>{{ "FOOD_FORM.IMAGE_COVER" | translate }}</mat-label>
        <input
          matInput
          formControlName="cover"
          placeholder="{{ 'FOOD_FORM.IMAGE_COVER_PLACEHOLDER' | translate }}"
        />
        <mat-error *ngIf="foodForm.get('image.cover').hasError('required')">
          {{ "FOOD_FORM.IMAGE_COVER" | translate }} is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "FOOD_FORM.IMAGE_PREVIEW" | translate }}</mat-label>
        <input
          matInput
          formControlName="preview"
          placeholder="{{ 'FOOD_FORM.IMAGE_PREVIEW_PLACEHOLDER' | translate }}"
        />
        <mat-hint>{{ "FOOD_FORM.IMAGE_PREVIEW_HINT" | translate }}</mat-hint>
        <mat-error *ngIf="foodForm.get('image.preview').hasError('required')">
          {{ "FOOD_FORM.IMAGE_PREVIEW" | translate }} is required
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>{{ "FOOD_FORM.DESCRIPTION" | translate }}</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="{{ 'FOOD_FORM.DESCRIPTION' | translate }}"
      ></textarea>
      <mat-error
        *ngIf="
          foodForm.get('description').invalid &&
          foodForm.get('description').touched
        "
      >
        {{ "FOOD_FORM.DESCRIPTION_REQUIRED" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "FOOD_FORM.PRICE" | translate }}</mat-label>
      <input
        matInput
        formControlName="price"
        type="number"
        placeholder="{{ 'FOOD_FORM.PRICE' | translate }}"
      />
      <mat-hint>{{ "FOOD_FORM.PRICE_HINT" | translate }}</mat-hint>
      <mat-error
        *ngIf="foodForm.get('price').invalid && foodForm.get('price').touched"
      >
        {{ "FOOD_FORM.PRICE" | translate }} is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "FOOD_FORM.POPULARITY" | translate }}</mat-label>
      <input
        matInput
        formControlName="popularity"
        placeholder="{{ 'FOOD_FORM.POPULARITY' | translate }}"
      />
      <mat-hint>{{ "FOOD_FORM.POPULARITY_HINT" | translate }}</mat-hint>
      <mat-error
        *ngIf="
          foodForm.get('popularity').invalid &&
          foodForm.get('popularity').touched
        "
      >
        {{ "FOOD_FORM.POPULARITY_REQUIRED" | translate }}
      </mat-error>
    </mat-form-field>

    <h1 style="margin-top: 2vw">Ingredients</h1>
    <div formArrayName="ingredients">
      <div
        *ngFor="
          let food of foodForm.get('ingredients')['controls'];
          let inIngredients = index
        "
        [formGroupName]="inIngredients"
        class="ingredient-group"
      >
        <mat-form-field appearance="fill">
          <mat-label>{{ "INGREDIENTS.NAME" | translate }}</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="{{ 'INGREDIENTS.NAME' | translate }}"
          />
          <mat-error
            *ngIf="food.get('name').invalid && food.get('name').touched"
          >
            {{ "INGREDIENTS.NAME_REQUIRED" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "INGREDIENTS.TYPE" | translate }}</mat-label>
          <input
            matInput
            formControlName="type"
            placeholder="{{ 'INGREDIENTS.TYPE' | translate }}"
          />
          <mat-error
            *ngIf="food.get('type').invalid && food.get('type').touched"
          >
            {{ "INGREDIENTS.TYPE_REQUIRED" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "INGREDIENTS.PRICE" | translate }}</mat-label>
          <input
            matInput
            formControlName="price"
            placeholder="{{ 'INGREDIENTS.PRICE' | translate }}"
          />
          <mat-error
            *ngIf="food.get('price').invalid && food.get('price').touched"
          >
            {{ "INGREDIENTS.PRICE_REQUIRED" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ "INGREDIENTS.AMOUNT" | translate }}</mat-label>
          <input
            matInput
            formControlName="amount"
            placeholder="{{ 'INGREDIENTS.AMOUNT' | translate }}"
          />
          <mat-error
            *ngIf="food.get('amount').invalid && food.get('amount').touched"
          >
            {{ "INGREDIENTS.AMOUNT_REQUIRED" | translate }}
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          style="margin-bottom: 10px"
          type="button"
          (click)="removeField(inIngredients)"
          [disabled]="isFirstField(inIngredients)"
        >
          {{ "INGREDIENTS.REMOVE" | translate }}
        </button>
      </div>
    </div>

    <button
      mat-raised-button
      style="margin-bottom: 10px"
      type="button"
      (click)="addField()"
    >
      {{ "BUTTON.ADD_INGREDIENTS" | translate }}
    </button>
  </div>
  <button mat-raised-button type="submit" class="submit-button" *ngIf="!id">
    {{ "BUTTON.ADD" | translate }}
  </button>
  <button mat-raised-button type="submit" class="submit-button" *ngIf="id">
    {{ "BUTTON.EDIT" | translate }}
  </button>
</form>
