<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="isSidenavOpen"
    class="sidenav-navigation"
  >
    <img
      class="sidenav-image"
      src="https://i.pinimg.com/originals/c0/fb/ed/c0fbedf13d4d6f0540c4b3f0ecbb4e37.png"
    />

    <mat-nav-list>
      <a class="sidenav-list" mat-list-item routerLink="/home">Home</a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="sidenav-list" mat-list-item routerLink="/food">Food</a>
    </mat-nav-list>
    <mat-nav-list>
      <a  class="sidenav-list" mat-list-item routerLink="/promo">Promo</a>
    </mat-nav-list>
    <mat-nav-list> 
      <a  class="sidenav-list" mat-list-item routerLink="/users"
        >Customers</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="navbar-content mat-elevation-z8">
      <button
        mat-icon-button
        (click)="toggleSidenav()"
        class="toggle-button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="navbar-title">
        Ichiraku Ramen!
      </h1>
    </div>

    <div style="color: #f2d1b5">
      <div
        class="mat-elevation-z8 main-content-container"
      >
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
