.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

.main-content {
  margin-left: 8vw;
  margin-right: 8vw;
  padding-bottom: 5vw;
}

.main-title {
  color: #04292f;
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
  padding-top: 7vw;
  padding-bottom: 5.6vw;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/382/718/desktop-wallpaper-the-wind-rises.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
