.main-content {
  min-height: 100vh;
}

.sidenav-navigation {
  background-color: #057e9b;
  position: fixed;
}

.sidenav-image {
  width: 8vw;
  padding: 1vw 1vw 0vw;
}

mat-nav-list > a {
  color: #331d1d;
  font-weight: 900;
}

.toggle-button {
  margin-left: 1vw;
  color: #f2d1b5;
}

.toggle-button > mat-icon {
  font-size: 2vw;
}

.sidenav-list {
  font-weight: 500;
}

.navbar-title {
  font-weight: 500;
  margin-right: 2vw;
  padding-top: 1vw;
}

.main-content-container {
  background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/8693.jpg);
  background-size: cover;
  min-height: 100vh;
  padding: 2vw 2vw 5vw 2vw;
}

@media screen and (max-width: 900px) {
  .sidenav-image {
    width: 25vw;
  }

  .navbar-title {
    font-size: 4vw;
    padding-top: 2vw;
    padding-right: 2vw;
  }
}
