.food-table-top {
  padding: 10px 2vw;
  margin-top: 3vw;
  background-color: #f2d1b5;
  color: black;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  justify-content: space-between;
  align-items: center;
}

.type-food-filter,
.search-food-filter,
.search-food-input,
.stock-filter,
.popularity-filter {
  flex: 1;
  margin-right: 10px;
}

.type-food-filter {
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.search-food-filter {
  padding-top: 1vw;
  background-color: #f2d1b5;
  color: black;
}

.search-food-input {
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 20vw;
  color: black;
}

.food-table {
  padding: 1vw;
  width: 100%;
  background-color: #f2d1b5;
  width: 100%;
}

::ng-deep mat-header-cell {
  background-color: #f2d1b5 !important;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

.food-icon-detail {
  color: brown;
}

.food-paginator {
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  background-color: #f2d1b5;
}

@media screen and (max-width: 768px) {
  .food-table-top {
    display: block;
  }
}