.food-table-top {
  padding-left: 8vw;
  padding-top: 3vw;
  margin-top: 3vw;
  background-color: #f2d1b5;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.type-food-filter {
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.search-food-filter {
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #f2d1b5;
  color: black;
}

.search-food-input {
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 17vw;
  color: black;
}

.food-table {
  padding: 1vw;
  width: 100%;
  background-color: #f2d1b5;
}

.food-icon-detail {
  color: brown;
}

.food-paginator {
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

