.promo-details {
  display: flex;
  background-color: rgb(173, 173, 173);
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.left-section {
  margin-right: 20px;
}

.right-section {
  flex-grow: 1;
  padding-left: 4vw;
}

.promo-image {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}
