<h1 mat-dialog-title>{{ promo.title }}</h1>
<div class="promo-detail-container">
  <div mat-dialog-content class="promo-basic-info">
    <div class="left-section-promo-detail">
      <p>ID: {{ promo._id }}</p>
      <img
        mat-card-image
        [src]="
          isValidImageUrl(promo.image_url)
            ? promo.image_url
            : 'https://via.placeholder.com/150'
        "
        alt="Photo of Promo"
        style="width: 10vw"
        class="promo-image"
      />
    </div>
    <div class="right-section-promo-detail">
      <h3 class="promo-h3-title">Information :</h3>
      <p><strong>Reference:</strong> {{ promo.ref }}</p>
      <p><strong>Subtitle:</strong> {{ promo.sub_title }}</p>
    </div>
  </div>
  <div style="margin-top: 3vw">
    <h3 class="promo-h3-title">Description :</h3>
    <p [innerHTML]="promo.description"></p>
  </div>
</div>
<div mat-dialog-actions style="margin-left: 18vw">
  <button mat-raised-button (click)="closeDialog()" style="margin-right: 0.5vw">
    Close
  </button>
  <button
    mat-raised-button
    style="background-color: #9f3434; color: #ead6c5;"
    (click)="openEditDialog()"
  >
    Edit
  </button>
</div>
