.promo-h3-title {
  font-weight: 600;
}

.promo-detail-container {
  background-color: #f2d1b5;
  padding: 2vw;
  overflow-y: auto;
}

.promo-basic-info {
  display: flex;
}

.left-section-promo-detail {
  margin-right: 20px;
}

.right-section-promo-detail {
  flex-grow: 1;
  padding-left: 4vw;
}

.promo-image {
  width: 9vw;
  height: 10vw;
  margin-left: 1vw;
}

.mat-dialog-title {
  padding: 2vw;
  background-color: #9f3434;
  color: #ead6c5;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .promo-basic-info {
    display: block;
  }

  .left-section-promo-detail,
  .right-section-promo-detail {
    margin-right: 0;
    padding-left: 0;
  }

  .promo-image {
    width: 10vw;
    height: 15vw;
  }
}
