.promo-h3-title {
  font-weight: 600;
}

.promo-detail-container {
  background-color: #f2d1b5;
  padding: 2vw;
}

.promo-basic-info {
  display: flex;
}

.left-section-promo-detail {
  margin-right: 20px;
}

.right-section-promo-detail {
  flex-grow: 1;
  padding-left: 4vw;
}

.promo-image {
  max-width: 300px;
  max-height: 300px;
}

.mat-dialog-title {
  padding: 2vw;
  background-color: #9f3434;
  color: #ead6c5;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
