<mat-card class="promo-card">
  <mat-card-header>
    <mat-card-title [innerHTML]="promo.title"></mat-card-title>
    <mat-card-subtitle [innerHTML]="promo.sub_title"></mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="
      isValidImageUrl(promo.image_url)
        ? promo.image_url
        : 'https://via.placeholder.com/150'
    "
    alt="Photo of Promo"
    style="width: 100%; max-height: 22vw; display: block; margin: 0 auto"
  />

  <mat-card-content>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="onDelete(promo._id)">
      Delete
    </button>
    <button
      mat-raised-button
      style="background-color: #331d1d; color: #f2d1b5"
      (click)="openDetailDialog()"
    >
      Detail
    </button>
  </mat-card-actions>
</mat-card>
