.character-detail {
    margin-top: 2vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
    border: none;
  }
  
  .item {
    padding: 10px;
  }

  .character-image {
    width: 10vw;
    min-height: 10vw;
    margin-left: 10vw;
  }

  .character-name {
    font-size: x-large;
    font-weight: 600;
  }

  .description-title {
    font-weight: 600;
  }

  .basic-title {
    font-weight: 600;
    margin-top: 2vw;
  }