/* Di file CSS Anda */
.film-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
.character-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}