.card-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-top: 2vw;
  background-color: brown;
}

mat-tab {
  font-size: larger;
}
