<div class="container">
  <div
    class="card shadow b-0"
    (click)="goToDetailEmployee(employee.id)"
    style="cursor: pointer"
  >
    <div class="row g-0">
      <div class="col-sm-4">
        <img
          [src]="employee.image"
          class="h-100 card-img"
          alt="..."
          style="object-fit: cover"
        />
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <h5 class="card-title">
            {{ employee.name }}
          </h5>
          <p class="card-text">
            {{ employee.role }}
          </p>
          >
        </div>
      </div>
    </div>
  </div>
</div>
