<div class="hero-banner">
  <div class="hero-background-image">
    <div class="hero-content">
      <h1 class="fw-bold">Superheroes Wiki</h1>
      <p>Your superheroes wiki app</p>
      <input
        type="text"
        class="form-control mt-5"
        placeholder="Search superheroes"
      />
    </div>
  </div>
</div>

<div class="hero-add-forms">
  <app-add-hero-form (addSuperhero)="addSuperhero($event)"></app-add-hero-form>
</div>

<div class="hero-content mt-5">
  <div class="row">
    <div *ngFor="let hero of heroes" class="col-md-4">
      <app-hero-card [hero]="hero"></app-hero-card>
    </div>
  </div>
</div>
