<div *ngIf="isLoading" class="overlay">
  <mat-progress-spinner
    class="full-screen-spinner"
    diameter="50"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
<div>
  <div class="action-wrapper">
    <button
      mat-raised-button
      class="add-promo-button"
      (click)="openAddDialog()"
    >
      Add Promo
    </button>

    <mat-form-field class="search-promo-field" appearance="fill">
      <mat-label>Search by Title</mat-label>
      <input matInput [formControl]="searchInputControl" />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchInputControl.value"
        (click)="clearSearchInput()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div *ngIf="Promos.length > 0; else notFound" class="promo-container">
    <div *ngFor="let promo of Promos">
      <app-promo-card
        [promo]="promo"
        (promoDeleted)="getAllPromo()"
      ></app-promo-card>
    </div>
  </div>

  <ng-template #notFound>
    <div class="not-found-message">
      <div class="flex-container">
        <mat-icon>error</mat-icon>
        <span>Promo Not Found</span>
      </div>
    </div>
  </ng-template>

  <div class="pagination-wrapper">
    <div class="manual-limit" style="color: black">
      <mat-form-field appearance="outline" class="manual-limit">
        <mat-label style="color: black">Show:</mat-label>
        <mat-select [(ngModel)]="limit" (ngModelChange)="updateLimit()">
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="5">5</mat-option>
          <mat-option [value]="10">10</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="manual-pagination">
      <button
        mat-button
        style="color: black"
        (click)="previousPage()"
        [disabled]="page === 0"
        [ngClass]="{ 'disabled-button': page === 0 }"
      >
        Previous
      </button>
      <span
        style="
          color: black;
          font-weight: 600;
          padding-left: 1vw;
          padding-right: 1vw;
        "
        >{{ page + 1 }}
      </span>
      <button
        mat-button
        style="color: black"
        (click)="nextPage()"
        [disabled]="!hasNextPage"
        [ngClass]="{ 'disabled-button': !hasNextPage }"
      >
        Next
      </button>
    </div>
  </div>
</div>
