<div *ngIf="!Promos.length" class="overlay">
  <mat-progress-spinner
    class="full-screen-spinner"
    diameter="50"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>

<div>
  <button
    mat-raised-button
    color="primary"
    style="margin-bottom: 3vw; margin-top: 2vw"
    (click)="openAddDialog()"
  >
    Add Promo
  </button>
  <div
    *ngIf="Promos.length"
    style="display: flex; flex-wrap: wrap; justify-content: space-between"
  >
    <div *ngFor="let promo of Promos">
      <app-promo-card [promo]="promo"></app-promo-card>
    </div>
  </div>
</div>
