<app-voting-banner></app-voting-banner>

<div *ngIf="votingCards.length > 0" class="voting-content">
  <div style="background-color: rgb(65, 65, 65); padding: 50px; border-radius: 20px;">
    <div class="d-flex justify-content-between mt-5">
      <h1 class="text-white">Let's Vote!</h1>
      <button class="btn btn-secondary"  (click)="clearCandidates()">Clear Candidates</button>
    </div>
    <div class="mt-5 d-flex justify-content-around flex-wrap">
      <div *ngFor="let voting of votingCards" class="voting-cards">
        <div>
          <app-voting-card [votingCard]="voting"></app-voting-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="voting-add-forms">
  <app-voting-add-form
    (addNewVoting)="addNewVoting($event)"
  ></app-voting-add-form>
</div>
