<app-voting-banner></app-voting-banner>

<div class="voting-content">
  <div class="row">
    <div class="voting-add-forms col-6">
      <app-voting-add-form
        (addNewVoting)="addNewVoting($event)"
      ></app-voting-add-form>
    </div>
    <div class="col-6">
      <img
        src="https://vik.kompas.com/wiro-sableng/assets/img/vino-ws.png"
        style="width: 23rem; margin-left: 200px"
      />
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-around flex-wrap">
    <div *ngFor="let voting of votingCards">
      <div>
        <app-voting-card [votingCard]="voting"></app-voting-card>
      </div>
    </div>
  </div>
</div>
