<div class="d-flex flex-row justify-content-between ms-4">
  <h2 class="fs-5 mb-4" style="color: #ffffff">Here's List of Motorcycle</h2>
  <div class="d-flex me-3">
    <button class="btn btn-secondary me-1" (click)="addFormOutput.emit()">Add Motorcycle</button>
    <input
      type="text"
      class="search form-control"
      placeholder="Search motor"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearch($event)"
    />
    <div class="form-group">
      <select
        class="form-control ms-1"
        [(ngModel)]="selectedStatus"
        (change)="onFilterStatus()"
      >
        <option value="">Semua status</option>
        <option value="Tersedia">Tersedia</option>
        <option value="Dipinjam">Dipinjam</option>
      </select>
    </div>
    <div class="form-group">
      <select
        class="form-control ms-1"
        [(ngModel)]="selectedType"
        (change)="onFilterType()"
      >
        <option value="">Semua type</option>
        <option value="Matic">Matic</option>
        <option value="Sporty">Sporty</option>
        <option value="Adventure">Adventure</option>
        <option value="Cruiser">Cruiser</option>
      </select>
    </div>
  </div>
</div>
