<div class="container">
  <div class="card shadow b-0" (click)="goToDetailDPO(dpo.id)" style="cursor: pointer">
    <div class="row g-0">
      <div class="col-sm-4">
        <img
          [src]="dpo.image"
          class="h-100 card-img"
          alt="..."
          style="object-fit: cover"
        />
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <h5 class="card-title">
              {{dpo.name}}
          </h5>
          <p class="card-text">
            {{dpo.description}}
          </p>
          <span class="card-footer badge rounded-pill bg-dark">{{dpo.status}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
