.food-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  margin-bottom: 10vw;
}

.food-detail-header {
  display: flex;
  justify-content: space-between;
  text-align: end;
}

.food-detail {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2vw;
  background-color: #f2d1b5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.food-detail h2 {
  margin-top: 0;
}

.food-type {
  color: black;
  margin-top: 5px;
}

.food-image {
  max-width: 100%;
  margin-top: 10px;
  min-height: 15vw; 
  width: 100%;
}

.food-description {
  margin-top: 20px;
}

.food-information {
  display: flex;
  margin-top: 2vw;
}

.food-ingredients {
  flex: 1;
  padding-right: 1vw;
}

.food-basicinfo {
  flex: 1;
  padding-left: 1vw;
}

.food-detail-actions {
  margin-top: 20px;
  text-align: right;
}

.actions button {
  margin-left: 10px;
}
