.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Sesuaikan lebar form sesuai kebutuhan */
    margin: auto;
  }

  .company-group {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .mat-error {
    color: red;
  }
  
  button[type="submit"] {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }