.user-container {
  background-color: #e1b486;
  padding: 2vw;
  border-radius: 2vw;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-table-content {
  background-color: #f2d1b5;
  width: 100%;
}

.user-table-container {
  overflow-x: auto;
  max-width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.not-found-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vw;
  font-size: 2vw;
  color: #333;
  background-color: #f2d1b5;
}

.not-found-message mat-icon {
  font-size: 2vw;
  color: black;
  margin-bottom: 0.5vw;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 1vw;
}

@media screen and (max-width: 768px) {
  .user-table-content {
    width: fit-content;
  }
}
