<section style="background-color: #b7b7b7;; min-height: 100vh;">
  <div class="text-center container py-5">
    <div class="d-flex justify-content-center">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          class="form-control w-50 mb-5"
          placeholder="Search..."
        />
      </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-12 mb-4"
        *ngFor="let user of filteredUser"
      >
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>
  </div>
</section>
