<div *ngIf="isLoading" class="overlay">
  <mat-progress-spinner
    class="full-screen-spinner"
    diameter="50"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>

<div class="user-container" style="padding-top: 2vw">
  <div
    class="search-container"
    style="background-color: #f2d1b5; padding-left: 2vw"
  >
    <mat-form-field
      style="padding-top: 1vw; padding-left: 1vw; padding-right: 1vw"
    >
      <mat-label>User Status</mat-label>
      <mat-select
        [(ngModel)]="userStatusValue"
        (ngModelChange)="filterUserStatus()"
      >
        <mat-option value="">All</mat-option>
        <mat-option value="incorrect_email">Incorrect Email</mat-option>
        <mat-option value="pending">Pending</mat-option>
        <mat-option value="active">Active</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="color: black; margin-top: 1vw">
      <mat-label>Search by Last Name</mat-label>
      <input matInput [formControl]="searchInputControl" />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchInputControl.value"
        (click)="clearSearchInput()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-table
    #table
    [dataSource]="dataSource"
    matSort
    style="background-color: #f2d1b5"
    (matSortChange)="onSortChange($event)"
    *ngIf="dataSource.data.length > 0; else notFound"
  >
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let user"
        >{{ user.civility }} {{ user.last_name }}
        {{ user.first_name }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef>Sex</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ getSexLabel(user.sex) }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user_status">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >User Status</mat-header-cell
      >
      <mat-cell *matCellDef="let user">{{
        user.user_status | titlecase
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>
        Position
      </mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{ user.position ? user.position : "-" }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <ng-template #notFound>
    <div class="not-found-message">
      <div class="flex-container">
        <mat-icon>error</mat-icon>
        <span>User Not Found</span>
      </div>
    </div>
  </ng-template>

  <mat-paginator
    style="background-color: #f2d1b5"
    [pageSizeOptions]="[5, 10, 15]"
    [pageSize]="limit"
    [length]="totalItems"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
