<div *ngIf="isLoading" class="overlay">
  <mat-progress-spinner
    class="full-screen-spinner"
    diameter="50"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>

<div class="container" style="padding-top: 2vw">
  <div
    class="search-container"
    style="background-color: #f2d1b5; padding-left: 2vw"
  >
    <mat-form-field appearance="fill" style="color: black; margin-top: 1vw">
      <mat-label>Search by Last Name</mat-label>
      <input matInput [formControl]="searchInputControl" />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchInputControl.value"
        (click)="clearSearchInput()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-table
    #table
    [dataSource]="dataSource"
    matSort
    style="background-color: #f2d1b5"
  >
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.no }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let user"
        >{{ user.civility }} {{ user.last_name }}
        {{ user.first_name }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef>Sex</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.sex }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.status | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.position }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    style="background-color: #f2d1b5"
    [pageSizeOptions]="[5, 10, 15]"
    [pageSize]="limit"
    [length]="totalItems"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
