<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  style="background-color: #e1b486; padding: 3vw; border-radius: 2vw;"
>
  <mat-tab label="Food Cards">
    <button mat-raised-button class="food-add-button" (click)="onAddFood()">
      <mat-icon>add</mat-icon> Add Food
    </button>
    <div class="card-content">
      <div *ngFor="let food of foodList">
        <app-food-card class="food-card" [food]="food"></app-food-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Food Table" style="color: #f2d1b5">
    <div class="table-content">
      <app-food-table></app-food-table>
    </div>
  </mat-tab>
</mat-tab-group>
