<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Food Cards">
    <button
      mat-raised-button
      style="background-color: #f2d1b5; color: rgb(0, 0, 0); margin-top: 2vw;"
      (click)="onAddFood()"
    >
      Add food
    </button>
    <div class="card-content">
      <div *ngFor="let food of foodList">
        <app-food-card class="food-card" [food]="food"></app-food-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Food Table" style="color: #f2d1b5;">
    <div class="table-content">
      <app-food-table></app-food-table>
    </div>
  </mat-tab>
</mat-tab-group>
