.about {
    padding: 20px;
  }
  
  .about h2 {
    color: #333;
    text-align: center;
  }
  
  .about p {
    color: #666;
    text-align: center;
  }
  
  .about-content {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  