<footer>
  <div class="footer-main row">
    <div class="footer-about col-3">
      <h5>About Us</h5>
      <p>Company information here...</p>
    </div>
    <div class="footer-services col-3">
      <h5>Services</h5>
      <p>Services information here...</p>
    </div>
    <div class="footer-contact col-3">
      <h5>Contact Us</h5>
      <p>Contact information here...</p>
    </div>
    <div class="footer-follow col-3">
      <h5>Follow Us</h5>
      <p>Social media links here...</p>
    </div>
    <p class="footer-copyright text-center mt-5">Made with love</p>
  </div>
</footer>
