.footer-main {
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    padding-bottom: 0;
}


@media (max-width: 600px) {
    .footer-about, .footer-services, .footer-contact, .footer-follow {
        width: 100%;
        margin-bottom: 20px;
    }
}