<div class="home-container">
  <header>
    <h1>Sistem Manajemen Restoran Ichiraku</h1>
  </header>
  <main>
    <section class="intro-section">
      <div class="flex-container">
        <div class="image-container">
          <img
            src="https://static.vecteezy.com/system/resources/previews/025/066/797/original/ramen-with-ai-generated-free-png.png"
            alt=""
          />
        </div>
        <div class="description-container">
          <h2>Tentang Kami</h2>
          <p>
            Ichiraku adalah sistem manajemen restoran yang memungkinkan pemilik
            restoran untuk mengelola semua aspek bisnis mereka dengan efisien.
            Mulai dari mengelola stok bahan baku hingga memesan makanan, sistem
            ini menyediakan solusi terintegrasi untuk memperbaiki operasi
            sehari-hari.
          </p>
        </div>
      </div>
    </section>
    <section class="ichiraku-section">
      <div class="flex-container">
        <div class="description-container-2">
          <h2>Memahami Sistem Manajemen Restoran Ichiraku</h2>
          <p>
            Sistem Ichiraku memberikan kapasitas penyimpanan data yang besar,
            yang dapat menampung semua informasi terkait dengan operasi
            restoran, termasuk inventaris, data pelanggan, dan laporan
            penjualan. Dengan kapasitas yang luas ini, sistem ini dapat
            menangani volume data yang besar dengan efisien.
          </p>
          <p>
            Seiring dengan perkembangan teknologi dan kebutuhan bisnis, sistem
            manajemen restoran seperti Ichiraku menjadi semakin penting. Mereka
            membantu pemilik restoran untuk mengoptimalkan proses mereka,
            meningkatkan produktivitas, dan meningkatkan pengalaman pelanggan.
          </p>
        </div>
        <div class="image-container-2">
          <img
            src="https://www.bestrestaurants.com.au/media/mykdbr41/best-restaurants-fuji-tei-japanese-restaurant-02_470x250.jpg?width=1200&height=630&mode=crop&rnd=132823726592570000"
            alt=""
          />
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>
      &copy; 2024 Sistem Manajemen Restoran Ichiraku. Seluruh hak cipta
      dilindungi.
    </p>
  </footer>
</div>
