<div style="background-color: #b7b7b7">
<h1 class="text-center pt-5 fw-bold">ABOUT US!</h1>
  <div class="row">
    <div class="col-6">
      <div class="fs-5" style="padding-top: 5rem; padding-left: 5rem">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, a
          similique! Sed error itaque quis reprehenderit explicabo iusto fugit!
          Sequi exercitationem possimus blanditiis voluptatem quas.
        </p>
        <p>
          Pariatur facere sunt cumque expedita. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eaque fugiat, aperiam aliquid ipsum
          veniam a quam minus exercitationem quibusdam amet omnis fuga corporis,
          sapiente, dolorum fugit maiores cupiditate. Sequi, minima?
        </p>
      </div>
    </div>
    <div class="col-6">
      <img
        src="https://www.pngarts.com/files/3/Industrial-Worker-Transparent-Background-PNG.png"
        style="width: 40vw; margin-left: 4vw; opacity: 0.6;"
      />
    </div>
  </div>
</div>
